<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo.jpg"/>
	
	<title> Chocolate el mejor</title>
			<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
      
	<%- include("./partials/header") %>  
	
	<!-- Banner -->
	<div class="banner">
		<img src="" alt="">
	</div>
	<!-- /Banner -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Novedades</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateDDL.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con dulce de leche</h2>
							<p>Chocolate Milka Relleno Dulce De Leche 135 g</p>
							<p>Comentarios: por dios, ¿quien comeria esta basura?</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateAL.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con almendras</h2>
							<p>Chocolate Cadbury Almendras Sin Tacc 72g Entregate Al Placer</p>
							<p>Comentarios: Gracias Jesucristo por esta delicia</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateFR.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con frutillas</h2>
							<p>Chocolate Cadbury Frutilla X80grs - Oferta En Sweet Market</p>
							<p>Comentarios: He probado cosas horribles, luego esta esta basura. ESPANTOSO!!!!!</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateMani.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con maní</h2>
							<p>Blockazo Chocolate Cofler Block X 1 Kilo Calidad Arcor</p>
							<p>Comentarios: esto me gusta tanto que se lo voy a regalar a mi abuelita, gracias</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Novedades -->
	<!-- Más comentados -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Más comentados</h2>
			</div>
			<!-- Show the "ultimos" products -->
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateN.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate negro</h2>
							<p>Chocolate negro Águila X80grs </p>
							<p>Comentarios: Escuchame, esto es bacansisimo</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateB.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate blanco</h2>
							<p>Chocolate Cofler Aireado Blanco Air 100g Arcor - 01mercado</p>
							<p>Comentarios: Pésimo producto, muy caro para la basura que ofrecen</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateR.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con rocklets</h2>
							<p>Chocolate Cofler Rocklets X55g - Oferta En Sweet Market</p>
							<p>Comentarios: Haganme una radiografia, estoy seguro que mi panza esta ahora llena de amor... Felicidad!!!!</p>
						</article>
					</a>
				</section>
			</div>
			<div class="col-12 col-sm-6 col-lg-3">
				<section class="product-box">
					<a href="/chocolates">
						<figure class="product-box_image">
							<img src="/images/products/chocolateM.jpg" alt="cafetera moulinex">
						</figure>
						<article class="product-box_data">
							<h2>Chocolate con menta</h2>
							<p>Chocolate Alpino X 500 Grs! Ideal Para Reposteria Y Bombones</p>
							<p>Comentarios: Que rica esta vaina, me enamore!!!!!</p>
						</article>
					</a>
				</section>
			</div>
		</div>
	</div>
	<!-- /Más comentados -->


	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->
</body>	
</html>