<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title>Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/header") %> 
	<!-- /Header -->

	<!-- Novedades -->
    <h1 class="ingresar">Ingresar</h1>
  <div class="home">  
      <a  href="/">Home</a> 
    </div>
    <div class="registrate">
    <a href="/register">Registrate</a>
</div>
    <% if(locals.errors){ %>
        <p class="error"><%= locals.errors.message %> </p>
    <% } %>  
    <form action="/login" method="POST" class="ingresar">
        <p>
            <input type="text" name="email" value="" placeholder="email">
        </p>
        <p>
            <input type="password" name="password" value="" placeholder="contraseña">
        </p>
        <p class="recordame">
            <input type="checkbox" name="rememberme" value="ok">
            Recordame
        </p>
        <button type="submit"> Ingresar </button>
    </form>


	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->
</body>

</html>