<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->

<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/logo-mercado-liebre.jpg" />

	<title>Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>

<body>
	<!-- Header -->
	<%- include("./partials/headerLogueado.ejs")%>

	<!-- /Header -->

	<!-- Novedades -->
	<div class="container products-wrapper">
		<div class="row">
			<div class="col-12">
				<h2 class="products-title">Agregar productos</h2>
				<form action="../routes/chocolates.js" method="POST"> 
					<input type="text" name="title" value="" placeholder="title">
					<input type="number" name="rating" value="" placeholder="rating">
					<input type="number" name="awards" value="" placeholder="awards">
					<input type="date" name="release_date" value="" placeholder="release date">
					<input type="number" name="length" value="" placeholder="length">
					<input type="number" name="genre_id" value="" placeholder="genre id">
					<button type="submit">Buscar</button>
				</form>
			</div>
			<!-- Show the "ultimos" products -->
			

			<form action="">    
				<div>
					<input type="text"  name="email" value="" placeholder="Nombre del producto">
      
				</div>

				<div>
					<input type="file"  name="email" value="" placeholder="descripción">
    
				</div>
				
				<button type="submit"> 
					Agregar producto 
				</button>
			  </form>


	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->
</body>

</html>