<!DOCTYPE html>
<html lang="es">
<!-- Include Head -->
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link width="" rel="shortcut icon" href="/images/products/logo.jpg"/>

	<title> Chocolate el mejor</title>
	<!-- Font Awesome Stylesheet -->
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/css/all.min.css">
	<!-- Bootstrap Grid Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/bootstrap-grid.min.css">
	<!-- Own Stylesheet -->
	<link rel="stylesheet" href="/stylesheets/app.css">
</head>
<body>
	<!-- Header -->
	<%- include("./partials/header") %> 
	<!-- /Header -->

	<!-- product detail -->
	<div class="container products-wrapper">
		<div class="d-flex align-items-center">
			<h2 class="products-title">Chocolate Milka</h2> 
			<p class="product-detail-description">
				<a href="/chocolates/create">Editar</a>
			</p>
		</div>
		<div class="product-detail">
			<div class="row">
				<article class="col-12 col-lg-8 product-detail-info">
					<img src="/images/products/chocolateDDL.jpg" alt="" class="product-detail-img">
					<p class="product-detail-description">
						Chocolate Milka Relleno Dulce De Leche 135 g. El más rico chocolate con dulce de leche. La mejor relación precio/calidad.</p>
				</article>
				<div class="col-12 col-lg-4">
					<section class="comments">
						<article>
							<img src="/images/products/lali.jpg" alt="">
							<div class="data">
								<p class="user">
								<strong> <a href="/users">Lali Espósito </a> </strong>
								Pésimo producto, muy caro para la basura que ofrecen</p>
							</div>
						</article>
						<article>
							<img src="/images/products/peter.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users">Peter Lanzani </a> </strong>
									Haganme una radiografia, estoy seguro que mi panza esta ahora llena de amor... Felicidad!!!!</p>
							</div>
						</article>
						<article>
							<img src="/images/products/china.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users">Eugenia Suarez </a> </strong>
									Deberian dedicarse a otra cosa, farsantes!!!!!
									</p>
							</div>
						</article>
						<article>
							<img src="/images/products/nico.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users">Nico Riera </a> </strong>
									Escuchame, esto es bacansisimo</p>
							</div>
						</article>
						<article>
							<img src="/images/products/gaston.jpg" alt="">
							<div class="data">
								<p class="user">
									<strong> <a href="/users">Gatón Dalmau </a> </strong>
									Que rica esta vaina, me enamore</p>
							</div>
						</article>

					</section>
					<form class="form" action="/chocolates" method="get">
						<input class="form-input" type="text" value="" placeholder="Agregar comentario">
						<button type="submit" class="buy-now-button">AGREGAR COMENTARIO</button>
					</form>
					<hr>
				</div>
			</div>
		</div>
	</div>
	<!-- /product detail -->

	<!-- footer -->
	<%- include("./partials/footer") %> 
	<!-- /footer -->

</body>	
</html>